---
interface Tech {
  name: string;
  category: string;
  color: string;
  icon: string;
}

const techs: Tech[] = [
  { name: 'Flutter', category: 'Mobile', color: '#54C5F8', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M14.314 0L2.3 12 6 15.7 21.684.013zM14.314 11.97l-4.916 4.916 4.916 4.916 4.947-4.916z"/></svg>` },
  { name: 'React', category: 'Frontend', color: '#61DAFB', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><circle cx="12" cy="12" r="2.5"/><path d="M12 0C8.954 0 8.954 5.373 12 5.373S15.046 0 12 0zM12 18.627C8.954 18.627 8.954 24 12 24s3.046-5.373 0-5.373zM2.578 6.314C0.105 7.786 2.578 12.5 5.5 10.872S8.423 3.37 5.868 4.872L2.578 6.314zM21.422 13.128C18.5 15.13 21.422 18.5 23.895 17.028l-2.472-3.9z"/></svg>` },
  { name: 'Next.js', category: 'Frontend', color: '#ffffff', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M11.572 0c-.176 0-.31.001-.358.007a19.76 19.76 0 00-.364.033C7.443.346 4.25 2.185 2.228 5.012a11.875 11.875 0 00-2.119 5.243c-.096.659-.108.854-.108 1.747s.012 1.089.108 1.748c.652 4.506 3.86 8.292 8.209 9.695.779.25 1.6.422 2.534.525.363.04 1.935.04 2.299 0 1.611-.178 2.977-.577 4.323-1.264.207-.106.247-.134.219-.158-.02-.013-.9-1.193-1.955-2.62l-1.919-2.592-2.404-3.558a338.739 338.739 0 00-2.422-3.556c-.009-.002-.018 1.579-.023 3.51-.007 3.38-.01 3.515-.052 3.595a.426.426 0 01-.206.214c-.075.037-.14.044-.495.044H7.81l-.108-.068a.438.438 0 01-.157-.171l-.05-.106.006-4.703.007-4.705.072-.092a.645.645 0 01.174-.143c.096-.047.134-.051.54-.051.478 0 .558.018.682.154.035.038 1.337 1.999 2.895 4.361a10760.433 10760.433 0 004.735 7.17l1.9 2.879.096-.063a12.317 12.317 0 002.466-2.163 11.944 11.944 0 002.824-6.134c.096-.66.108-.854.108-1.748 0-.893-.012-1.088-.108-1.747C23.027 4.418 19.818.63 15.467.116 14.93.057 11.749-.008 11.572 0z"/></svg>` },
  { name: 'Node.js', category: 'Backend', color: '#68A063', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M11.998.016c-.34 0-.68.09-.98.267L2.855 4.986c-.6.346-.97.98-.97 1.674V17.34c0 .694.37 1.328.97 1.674l8.164 4.703c.6.346 1.346.346 1.946 0l8.164-4.703c.6-.346.97-.98.97-1.674V6.66c0-.694-.37-1.328-.97-1.674L12.978.283a1.943 1.943 0 00-.98-.267z"/></svg>` },
  { name: 'Python', category: 'Backend', color: '#3776AB', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05L0 11.97l.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05 1.07.13zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09-.33.22z"/><path d="M21.1 6.11l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.04z"/></svg>` },
  { name: 'FastAPI', category: 'Backend', color: '#009688', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.376 0 0 5.376 0 12c0 6.623 5.376 12 12 12 6.623 0 12-5.377 12-12C24 5.376 18.623 0 12 0zm-.624 21.624v-7.726H6.028L13.624 2.4v7.227h5.348L11.376 21.624z"/></svg>` },
  { name: 'PostgreSQL', category: 'Database', color: '#336791', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M17.128 0a10.134 10.134 0 00-2.755.403l-.063.02C13.007.148 11.656 0 10.219 0 8.02 0 6.124.617 4.7 1.698 4.364 1.24 3.958.92 3.489.788c-1.293-.364-2.713.168-3.642 1.356A5.507 5.507 0 00-.679 5.2a5.53 5.53 0 001.293 3.755c.617.778 1.393 1.24 2.122 1.438.01.11.021.22.032.33.161 1.512.428 3.037.787 4.546.36 1.51.806 3.005 1.32 4.406.513 1.4 1.086 2.688 1.734 3.736a9.917 9.917 0 001.94 2.443c.58.544 1.173.88 1.74.971a.782.782 0 00.118.009c.469 0 .96-.241 1.454-.716a9.665 9.665 0 001.79-2.525 2.78 2.78 0 001.397.358 2.78 2.78 0 001.396-.358 9.665 9.665 0 001.79 2.525c.495.475.986.716 1.454.716a.78.78 0 00.118-.009c.569-.09 1.162-.427 1.741-.97a9.917 9.917 0 001.94-2.444c.648-1.048 1.22-2.336 1.734-3.736.513-1.401.96-2.897 1.319-4.406.36-1.51.627-3.034.788-4.547.01-.109.022-.219.032-.328.73-.198 1.505-.66 2.122-1.438a5.53 5.53 0 001.293-3.755A5.507 5.507 0 0024.153 2.144c-.929-1.188-2.349-1.72-3.642-1.356-.469.131-.875.452-1.21.91C17.877.617 15.981 0 13.781 0z"/></svg>` },
  { name: 'MongoDB', category: 'Database', color: '#47A248', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115-.28-.394-.53-.954-.735-1.44-.036.495-.055.685-.523 1.184-.723.566-4.438 3.682-4.74 10.02-.282 5.912 4.27 9.435 4.888 9.884l.07.05A73.49 73.49 0 0111.91 24h.481c.114-1.032.284-2.056.51-3.07.417-.296.604-.463.85-.693a11.342 11.342 0 003.639-8.464c.01-.814-.103-1.662-.197-2.218zm-5.336 8.195s0-8.291.275-8.29c.213 0 .49 10.695.49 10.695-.381-.045-.765-1.76-.765-2.405z"/></svg>` },
  { name: 'Firebase', category: 'Backend', color: '#FFCA28', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M3.89 15.673L6.255.461A.542.542 0 017.27.288l2.543 4.771zm16.794 3.692l-2.25-14a.54.54 0 00-.919-.295L3.316 19.365l7.856 4.427a1.621 1.621 0 001.588 0zM14.3 7.147l-1.82-3.482a.542.542 0 00-.96 0L3.53 17.984z"/></svg>` },
  { name: 'AWS', category: 'Cloud', color: '#FF9900', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M6.763 10.036c0 .296.032.535.088.71.064.176.144.368.256.576.04.063.056.127.056.183 0 .08-.048.16-.152.24l-.503.335a.383.383 0 01-.208.072c-.08 0-.16-.04-.239-.112a2.47 2.47 0 01-.287-.375 6.18 6.18 0 01-.248-.471c-.622.734-1.405 1.101-2.347 1.101-.67 0-1.205-.191-1.596-.574-.391-.384-.59-.894-.59-1.533 0-.678.239-1.23.726-1.644.487-.415 1.133-.623 1.955-.623.272 0 .551.024.846.064.296.04.6.104.918.176v-.583c0-.607-.127-1.030-.375-1.277-.255-.248-.686-.367-1.3-.367-.28 0-.568.031-.863.103-.295.072-.583.16-.862.272a2.287 2.287 0 01-.28.104.488.488 0 01-.127.023c-.112 0-.168-.08-.168-.247v-.391c0-.128.016-.224.056-.28a.597.597 0 01.224-.167c.279-.144.614-.264 1.005-.36a4.84 4.84 0 011.246-.151c.95 0 1.644.216 2.091.647.439.43.662 1.085.662 1.963v2.586zm-3.24 1.214c.263 0 .534-.048.822-.144.287-.096.543-.271.758-.51.128-.152.224-.32.272-.512.047-.191.08-.423.08-.694v-.335a6.66 6.66 0 00-.735-.136 6.02 6.02 0 00-.75-.048c-.535 0-.926.104-1.19.32-.263.215-.39.518-.39.917 0 .375.095.655.295.846.191.2.47.296.838.296zm6.41.862c-.144 0-.24-.024-.304-.08-.064-.048-.12-.16-.168-.311L7.586 5.55a1.398 1.398 0 01-.072-.32c0-.128.064-.2.191-.2h.783c.151 0 .255.025.31.08.065.048.113.16.16.312l1.342 5.29 1.245-5.29c.04-.16.088-.264.151-.312a.549.549 0 01.32-.08h.638c.152 0 .256.025.32.08.063.048.12.16.151.312l1.261 5.354 1.382-5.354c.048-.16.104-.264.16-.312a.52.52 0 01.311-.08h.743c.127 0 .2.065.2.2 0 .04-.009.08-.017.128a1.137 1.137 0 01-.056.2l-1.923 6.17c-.048.16-.104.263-.168.311a.51.51 0 01-.303.08h-.687c-.151 0-.255-.024-.32-.08-.063-.056-.119-.16-.15-.32l-1.238-5.148-1.23 5.14c-.04.16-.087.264-.15.32-.065.056-.177.08-.32.08zm10.256.215c-.415 0-.83-.048-1.229-.143-.399-.096-.71-.2-.918-.32-.128-.071-.215-.151-.247-.223a.563.563 0 01-.048-.224v-.407c0-.167.064-.247.183-.247.048 0 .096.008.144.024.048.016.12.048.2.08.271.12.566.215.878.279.319.064.63.096.95.096.502 0 .894-.088 1.165-.264a.86.86 0 00.415-.758.777.777 0 00-.215-.559c-.144-.151-.416-.287-.807-.415l-1.157-.36c-.583-.183-1.014-.454-1.277-.813a1.902 1.902 0 01-.4-1.158c0-.335.073-.63.216-.886.144-.255.335-.479.575-.654.24-.184.51-.32.83-.415.32-.096.655-.136 1.006-.136.175 0 .359.008.535.032.183.024.35.056.518.088.16.04.312.08.455.127.144.048.256.096.336.144a.69.69 0 01.24.2.43.43 0 01.071.263v.375c0 .168-.064.256-.184.256a.83.83 0 01-.303-.096 3.652 3.652 0 00-1.532-.311c-.455 0-.815.071-1.062.223-.248.152-.375.383-.375.71 0 .224.08.416.24.567.159.152.454.304.877.44l1.134.358c.574.184.991.44 1.237.767.247.327.367.702.367 1.117 0 .343-.072.655-.207.926-.144.272-.336.511-.583.703-.248.2-.543.343-.886.447-.36.111-.743.167-1.167.167z"/><path d="M20.748 16.466a.75.75 0 01-.152.487c-.096.112-.247.168-.447.168-.112 0-.24-.016-.375-.048-.135-.032-.295-.08-.479-.144l-.99-.351c-.336-.12-.623-.256-.862-.408-.24-.151-.432-.319-.574-.503a1.908 1.908 0 01-.335-.63 2.706 2.706 0 01-.103-.758c0-.287.048-.55.143-.79.096-.24.232-.455.408-.638.175-.184.39-.328.638-.44a2.052 2.052 0 01.823-.16c.16 0 .32.016.487.04.167.024.327.064.48.12.151.055.295.12.43.199.136.08.264.168.375.264a.56.56 0 01.168.391v.311c0 .128-.048.2-.144.216-.087.016-.18-.024-.263-.12a1.994 1.994 0 00-.527-.391 1.55 1.55 0 00-.702-.143c-.32 0-.575.08-.767.24-.192.16-.287.415-.287.766 0 .168.024.32.072.455.048.135.12.255.223.359.1.103.232.192.39.263.16.072.344.136.559.2l.99.352c.327.12.607.255.83.407.224.152.408.32.55.503.145.184.248.384.312.598.064.215.095.44.095.678z"/></svg>` },
  { name: 'Google Cloud', category: 'Cloud', color: '#4285F4', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12.19 2.38a9.344 9.344 0 00-9.234 6.893c.053-.02-.055.013 0 0-3.875 2.551-3.922 8.11-.247 10.941l.006-.007-.007.03a6.733 6.733 0 004.077 1.356h5.173l.03.018h5.613a6.736 6.736 0 006.583-7.645 9.298 9.298 0 00-12.994-11.586zm4.614 4.91l-1.977 1.978a4.065 4.065 0 00-5.5 5.5l-2.287 2.287a7.053 7.053 0 019.764-9.765z"/></svg>` },
  { name: 'Azure', category: 'Cloud', color: '#0078D4', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M13.05 4.24L6.56 18.05l5.86.01-5.88 1.7L17.8 19.9l-4.73-15.66m-1.3 0L.79 17.9l4.73.91L13.75 4.24"/></svg>` },
  { name: 'Docker', category: 'DevOps', color: '#2496ED', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M13.983 11.078h2.119a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 00.186-.186V3.574a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m0 2.716h2.118a.187.187 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.887c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 00.184-.186V6.29a.185.185 0 00-.185-.185H8.1a.185.185 0 00-.185.185v1.887c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H5.136a.186.186 0 00-.186.185v1.887c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 00.185-.185V9.006a.185.185 0 00-.184-.186h-2.12a.186.186 0 00-.186.186v1.887c0 .102.084.185.186.185m-2.92 0h2.12a.186.186 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.083.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 00-.75.748 11.376 11.376 0 00.692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 003.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288z"/></svg>` },
  { name: 'Kubernetes', category: 'DevOps', color: '#326CE5', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M10.204 14.35l.007.01-.999 2.413a5.171 5.171 0 01-2.075-2.597l2.578-.437.49.611zm-.804-3.95a5.277 5.277 0 01.Report-2.62.282.282 0 01-.013.036l.003-.034L7.89 5.99a5.22 5.22 0 00-2.69 3.768l2.658.384.001.001.549-.741zM12 3.967l-.716 2.474.004.022A5.26 5.26 0 0112 6.46c.236 0 .469.016.7.044l-.694-2.537zm1.796 10.383l.49-.611 2.578.437a5.171 5.171 0 01-2.075 2.597l-.999-2.413.006-.01zm.802-3.957l.55.74 2.656-.384a5.22 5.22 0 00-2.69-3.768l-1.508 1.793.003.033a.282.282 0 01-.013-.036 5.277 5.277 0 01.002 1.622zM12 0C5.373 0 0 5.372 0 12c0 6.627 5.373 12 12 12 6.628 0 12-5.373 12-12 0-6.628-5.372-12-12-12zm-1.08 16.862l-.525-1.268-1.455.247a6.485 6.485 0 01-1.802-3.967l1.47-.212.02-.003-.73-.986a6.526 6.526 0 012.143-4.765l.98 1.167.003-.002a6.498 6.498 0 011.976 0l.003.002.98-1.167a6.526 6.526 0 012.143 4.765l-.73.986.02.003 1.47.212a6.485 6.485 0 01-1.802 3.967l-1.455-.247-.525 1.268A6.53 6.53 0 0112 17.487a6.53 6.53 0 01-1.08-.625zM12 10.08a1.92 1.92 0 110 3.84 1.92 1.92 0 010-3.84z"/></svg>` },
  { name: 'Stripe', category: 'Payments', color: '#635BFF', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M13.976 9.15c-2.172-.806-3.356-1.426-3.356-2.409 0-.831.683-1.305 1.901-1.305 2.227 0 4.515.858 6.09 1.631l.89-5.494C18.252.975 15.697 0 12.165 0 9.667 0 7.589.654 6.104 1.872 4.56 3.147 3.757 4.992 3.757 7.218c0 4.039 2.467 5.76 6.476 7.219 2.585.92 3.445 1.574 3.445 2.583 0 .98-.84 1.545-2.354 1.545-1.875 0-4.965-.921-6.99-2.109l-.9 5.555C5.175 22.99 8.385 24 11.714 24c2.641 0 4.843-.624 6.328-1.813 1.664-1.305 2.525-3.236 2.525-5.732 0-4.128-2.524-5.851-6.594-7.305h.003z"/></svg>` },
  { name: 'OpenAI', category: 'AI', color: '#74AA9C', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M22.282 9.821a5.985 5.985 0 00-.516-4.91 6.046 6.046 0 00-6.51-2.9A6.065 6.065 0 004.981 4.18a5.985 5.985 0 00-3.998 2.9 6.046 6.046 0 00.743 7.097 5.98 5.98 0 00.51 4.911 6.051 6.051 0 006.515 2.9A5.985 5.985 0 0013.26 24a6.056 6.056 0 005.772-4.206 5.99 5.99 0 003.997-2.9 6.056 6.056 0 00-.747-7.073zM13.26 22.43a4.476 4.476 0 01-2.876-1.04l.141-.081 4.779-2.758a.795.795 0 00.392-.681v-6.737l2.02 1.168a.071.071 0 01.038.052v5.583a4.504 4.504 0 01-4.494 4.494zM3.6 18.304a4.47 4.47 0 01-.535-3.014l.142.085 4.783 2.759a.771.771 0 00.78 0l5.843-3.369v2.332a.08.08 0 01-.033.062L9.74 19.95a4.5 4.5 0 01-6.14-1.646zM2.34 7.896a4.485 4.485 0 012.366-1.973V11.6a.766.766 0 00.388.676l5.815 3.355-2.02 1.168a.076.076 0 01-.071 0l-4.83-2.786A4.504 4.504 0 012.34 7.896zm16.597 3.855l-5.843-3.387 2.02-1.164a.076.076 0 01.071 0l4.83 2.786a4.494 4.494 0 01-.676 8.105v-5.678a.79.79 0 00-.402-.662zm2.01-3.023l-.141-.085-4.774-2.782a.776.776 0 00-.785 0L9.409 9.23V6.897a.066.066 0 01.028-.061l4.83-2.787a4.5 4.5 0 016.68 4.66zm-12.64 4.135l-2.02-1.164a.08.08 0 01-.038-.057V6.075a4.5 4.5 0 017.375-3.453l-.142.08-4.778 2.758a.795.795 0 00-.392.681zm1.097-2.365l2.602-1.5 2.607 1.5v2.999l-2.597 1.5-2.607-1.5z"/></svg>` },
  { name: 'LangChain', category: 'AI', color: '#1C3C3C', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm5.562 7.395l-1.091 1.09a.5.5 0 01-.707 0 4.5 4.5 0 00-6.364 0l-1.09-1.09a6 6 0 018.252 0zm-2.182 2.182l-1.09 1.09a.5.5 0 01-.707 0 1.5 1.5 0 00-2.122 0l-1.09-1.09a3 3 0 014.01 0zm-4.75 4.75l1.09-1.09a.5.5 0 01.707 0 1.5 1.5 0 002.122 0l1.09 1.09a3 3 0 01-5.009 0zm2.747 2.747l-1.09-1.09a.5.5 0 01.024-.73 4.5 4.5 0 005.84-.024l1.09 1.09a6 6 0 01-5.864.754z"/></svg>` },
  { name: 'Supabase', category: 'Backend', color: '#3ECF8E', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M11.9 1.036c-.015-.986-1.26-1.41-1.874-.637L.764 12.05C-.33 13.427.65 15.455 2.409 15.455h9.579l.113 7.51c.015.985 1.259 1.41 1.874.636l9.262-11.652c1.093-1.375.113-3.403-1.645-3.403h-9.58L11.9 1.036z"/></svg>` },
  { name: 'GraphQL', category: 'API', color: '#E10098', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M14.051 2.751l4.935 2.851c.533-.507 1.248-.82 2.034-.82 1.652 0 2.98 1.328 2.98 2.98 0 1.336-.882 2.465-2.099 2.853v5.701c1.217.387 2.099 1.517 2.099 2.853 0 1.652-1.328 2.98-2.98 2.98-.784 0-1.497-.312-2.03-.817l-4.937 2.851c.083.275.128.566.128.866 0 1.652-1.328 2.98-2.98 2.98-1.651 0-2.98-1.328-2.98-2.98 0-.3.045-.591.128-.866L4.98 19.132a2.96 2.96 0 01-2.03.818c-1.652 0-2.98-1.328-2.98-2.98 0-1.337.882-2.466 2.099-2.853V8.416C.882 8.028 0 6.899 0 5.562c0-1.652 1.328-2.98 2.98-2.98.785 0 1.498.312 2.031.817L9.949 .549c-.083-.275-.128-.566-.128-.866C9.821 .03 11.15.299 11.15 2.98c0 .3-.045.591-.128.866zM7.426 4.977l4.867-2.81c.052.39.157.763.305 1.115L7.73 6.13c.004.044.006.089.006.135 0 .047-.002.093-.006.139l4.869 2.811a3.037 3.037 0 01-.305 1.114L7.426 7.52A2.987 2.987 0 016.5 7.761a3.01 3.01 0 01-.508-.044l-.036.062v4.44l.03.053c.183.028.36.074.527.137l4.868-2.81c.147.352.252.725.305 1.115l-4.867 2.81a2.98 2.98 0 01.306 1.115l4.865-2.809c.145.352.25.724.303 1.114L7.425 16.53a2.987 2.987 0 01.925 2.171c0 .047-.002.093-.006.139l4.869 2.811a3.038 3.038 0 01-.304 1.114l-4.869-2.811a2.95 2.95 0 01-2.06.853 2.97 2.97 0 01-2.081-.853L3.899 19.97a2.97 2.97 0 01-.853-2.081 2.97 2.97 0 01.853-2.081zm9.152 8.285l-4.869-2.811a3.037 3.037 0 01.305-1.115l4.869 2.81c.167-.063.344-.109.527-.137l.03-.053V7.517l-.036-.062A3.01 3.01 0 0117 7.38c-.176 0-.349.018-.516.052L11.61 4.623c.147-.352.252-.724.304-1.114L16.783 6.32a2.987 2.987 0 012.061-.853 2.97 2.97 0 012.08.853l.001-.001a2.97 2.97 0 01.853 2.081 2.97 2.97 0 01-.853 2.08l-.001-.001a2.97 2.97 0 01-2.08.854 2.952 2.952 0 01-.516-.046l.001.001-4.751-2.744z"/></svg>` },
  { name: 'TypeScript', category: 'Language', color: '#3178C6', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 011.306.34v2.458a3.95 3.95 0 00-.643-.361 5.093 5.093 0 00-.717-.26 5.453 5.453 0 00-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 00-.623.232c-.17.104-.3.229-.393.374a.888.888 0 00-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 01-1.012 1.085 4.38 4.38 0 01-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 01-1.84-.164 5.544 5.544 0 01-1.512-.493v-2.63a5.033 5.033 0 003.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 00-.074-1.089 2.12 2.12 0 00-.537-.5 5.597 5.597 0 00-.807-.444 27.72 27.72 0 00-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 011.47-.629 7.536 7.536 0 011.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"/></svg>` },
  { name: 'Swift', category: 'Mobile', color: '#F05138', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M23.999 23.999l-9.546-8.46c3.27-3.73 4.79-8.28 3.71-12.18-.26-.94-.65-1.83-1.14-2.63C15.829.619 14.199-.001 12.449 0c-2.84.01-5.96 1.98-8.26 5.35C1.19 9.36-.45 15.23.99 19.73c1.44 4.5 5.97 5.1 5.97 5.1l.03.17h.03l14.98-.001h.01l1.98-.001v-.001zm-14.22-4.31s-2.17-.3-3.31-2.8c-.87-1.89-.47-4.19.72-6.14 1.43-2.37 4.17-4.11 4.17-4.11s-.1 1.88 1.05 3.15c.67.74 1.72 1.37 2.57 1.8.05.04.08.07.04.09-2.23 2.29-5.24 3.01-5.24 3.01z"/></svg>` },
  { name: 'Kotlin', category: 'Mobile', color: '#7F52FF', icon: `<svg viewBox="0 0 24 24" fill="currentColor"><path d="M24 24H0V0h24L12 12z"/></svg>` },
];

const categories = ['All', ...new Set(techs.map(t => t.category))];
---

<section class="tech-section" id="tech">
  <div class="tech-inner">
    <div class="tech-header-row">
      <div class="tech-header reveal">
        <span class="section-label">Technology Stack</span>
        <h2 class="section-heading">Built With The Best Tools</h2>
        <p class="section-subheading">
          We work with the world's leading technologies. Every technology in our stack is chosen for performance, reliability and enterprise suitability.
        </p>
      </div>

      <!-- In-code API request terminal — pure HTML/CSS, scroll-triggered -->
      <div class="tech-term reveal-right stagger-2" data-tech-term aria-hidden="true">
        <div class="tech-term-head">
          <span class="tech-term-dots">
            <span></span><span></span><span></span>
          </span>
          <span class="tech-term-title">api · sample request</span>
          <span class="tech-term-method">200 OK</span>
        </div>
        <div class="tech-term-body">
          <div class="tech-term-line">
            <span class="tech-term-prompt">$</span>
            <span class="tech-term-cmd">curl https://api.example/v1/orders</span>
          </div>
          <pre class="tech-term-out"><span class="t-brace">&#123;</span>
  <span class="t-key">"status"</span>: <span class="t-str">"ok"</span>,
  <span class="t-key">"latency_ms"</span>: <span class="t-num">42</span>,
  <span class="t-key">"orders"</span>: [
    <span class="t-brace">&#123;</span> <span class="t-key">"id"</span>: <span class="t-str">"ord_a8…"</span>, <span class="t-key">"total"</span>: <span class="t-num">128.40</span> <span class="t-brace">&#125;</span>,
    <span class="t-brace">&#123;</span> <span class="t-key">"id"</span>: <span class="t-str">"ord_b4…"</span>, <span class="t-key">"total"</span>: <span class="t-num">62.00</span>  <span class="t-brace">&#125;</span>
  ]
<span class="t-brace">&#125;</span></pre>
          <div class="tech-term-line tech-term-cursor-line">
            <span class="tech-term-prompt">$</span>
            <span class="tech-term-cursor"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="tech-grid">
      {techs.map((tech, i) => (
        <div
          class={`tech-item spotlight-card reveal stagger-${Math.min((i % 6) + 1, 6)}`}
          title={`${tech.name} — ${tech.category}`}
        >
          <div class="tech-icon" style={`color: ${tech.color};`} set:html={tech.icon} />
          <span class="tech-name">{tech.name}</span>
          <span class="tech-cat">{tech.category}</span>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .tech-section {
    padding: 6rem 0;
    background: #111111;
    position: relative;
  }

  .tech-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #0a0f0e 0%, transparent 10%, transparent 90%, #0a0f0e 100%);
    pointer-events: none;
  }

  .tech-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    z-index: 1;
  }

  .tech-header-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 380px);
    gap: 3rem;
    align-items: end;
    margin-bottom: 4rem;
  }

  .tech-header {
    max-width: 600px;
  }

  /* ── API terminal mockup ─────────────── */
  .tech-term {
    width: 100%;
    background: #06100d;
    border: 1px solid #1e2d28;
    border-radius: 12px;
    overflow: hidden;
    box-shadow:
      0 18px 50px rgba(0,0,0,0.45),
      0 0 30px rgba(13,147,115,0.05);
    font-family: 'Courier New', monospace;
  }
  .tech-term-head {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.5rem 0.75rem;
    background: #0a0a0a;
    border-bottom: 1px solid #1e2d28;
  }
  .tech-term-dots {
    display: flex;
    gap: 4px;
  }
  .tech-term-dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2a3d35;
  }
  .tech-term-dots span:nth-child(1) { background: #ff5f57; }
  .tech-term-dots span:nth-child(2) { background: #febc2e; }
  .tech-term-dots span:nth-child(3) { background: #28c840; }
  .tech-term-title {
    flex: 1;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.6875rem;
    color: #6b8079;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tech-term-method {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.625rem;
    font-weight: 700;
    color: #0d9373;
    background: rgba(13,147,115,0.12);
    border: 1px solid rgba(13,147,115,0.3);
    padding: 0.15rem 0.45rem;
    border-radius: 50px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  .tech-term-body {
    padding: 0.75rem 0.875rem 0.875rem;
    font-size: 0.6875rem;
    line-height: 1.5;
    color: #cde0da;
  }
  .tech-term-line {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .tech-term-prompt {
    color: #0d9373;
    font-weight: 700;
  }
  .tech-term-cmd {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
    border-right: 1px solid transparent;
  }
  .tech-term.in-view .tech-term-cmd {
    white-space: nowrap;
    overflow: hidden;
    /* clip-path is composited, so the per-character reveal never re-layouts
       the terminal block. Width-based typing rebuilt flex sizing each step. */
    clip-path: inset(0 100% 0 0);
    animation: techType 2.4s steps(36, end) 0.2s forwards;
  }
  @keyframes techType {
    from { clip-path: inset(0 100% 0 0); }
    to   { clip-path: inset(0 0% 0 0); }
  }

  .tech-term-out {
    font-family: 'Courier New', monospace;
    font-size: 0.6875rem;
    line-height: 1.55;
    color: #8aa09a;
    margin: 0.5rem 0 0.4rem;
    white-space: pre;
    overflow: hidden;
    opacity: 0;
    transform: translateY(4px);
  }
  .tech-term.in-view .tech-term-out {
    animation: techOut 0.4s ease 2.8s forwards;
  }
  @keyframes techOut {
    to { opacity: 1; transform: translateY(0); }
  }
  .t-brace { color: #6b8079; }
  .t-key { color: #10b88a; }
  .t-str { color: #cde0da; }
  .t-num { color: #f0b97d; }

  .tech-term-cursor-line {
    margin-top: 0.4rem;
    opacity: 0;
  }
  .tech-term.in-view .tech-term-cursor-line {
    animation: techOut 0.3s ease 3.2s forwards;
  }
  .tech-term-cursor {
    display: inline-block;
    width: 7px;
    height: 12px;
    background: #0d9373;
    vertical-align: middle;
  }
  .tech-term.in-view .tech-term-cursor {
    animation: techBlink 1s steps(2, end) infinite 3.2s;
  }
  @keyframes techBlink {
    50% { opacity: 0; }
  }

  @media (prefers-reduced-motion: reduce) {
    .tech-term .tech-term-cmd,
    .tech-term .tech-term-out,
    .tech-term .tech-term-cursor-line,
    .tech-term .tech-term-cursor {
      animation: none !important;
      opacity: 1 !important;
      width: 100% !important;
      transform: none !important;
      clip-path: none !important;
    }
  }

  @media (max-width: 1100px) {
    .tech-header-row {
      grid-template-columns: 1fr;
      gap: 2.5rem;
      align-items: stretch;
    }
    .tech-term {
      max-width: 480px;
    }
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }

  .tech-item {
    background: #0a0f0e;
    border: 1px solid #1e2d28;
    border-radius: 14px;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    transition: border-color 0.2s ease, background 0.2s ease, transform 0.2s ease;
    cursor: default;
  }

  .tech-item:hover {
    border-color: rgba(13,147,115,0.3);
    background: rgba(13,147,115,0.03);
    transform: translateY(-3px);
  }

  .tech-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.2s ease;
  }

  .tech-item:hover .tech-icon {
    transform: scale(1.1);
  }

  .tech-icon :global(svg) {
    width: 100%;
    height: 100%;
  }

  .tech-name {
    font-family: 'Sora', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 1.2;
  }

  .tech-cat {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.625rem;
    font-weight: 500;
    color: #4a6359;
    text-align: center;
    letter-spacing: 0.05em;
  }

  @media (max-width: 1200px) {
    .tech-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (max-width: 900px) {
    .tech-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 640px) {
    .tech-section {
      padding: 4rem 0;
    }
    .tech-inner {
      padding: 0 1.25rem;
    }
    .tech-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 440px) {
    .tech-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.625rem;
    }
    .tech-item {
      padding: 1.125rem 0.75rem;
    }
    .tech-term-body {
      font-size: 0.625rem;
      padding: 0.625rem;
    }
    .tech-term-out {
      font-size: 0.625rem;
    }
  }
</style>

<script>
  function initTechTerm() {
    const nodes = document.querySelectorAll<HTMLElement>('[data-tech-term]');
    if (!nodes.length) return;
    const obs = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const el = entry.target as HTMLElement;
        if (entry.isIntersecting) {
          el.classList.add('in-view');
        } else {
          el.classList.remove('in-view');
        }
      });
    }, { threshold: 0.2 });
    nodes.forEach((n) => obs.observe(n));
    document.addEventListener('astro:before-swap', () => obs.disconnect(), { once: true });
  }
  initTechTerm();
  document.addEventListener('astro:after-swap', initTechTerm);
</script>
